* {
  box-sizing: border-box;
  line-height: 1.15;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1,
h2 {
  color: #3d3d3d;
}
a {
  background-color: transparent;
}
::selection {
  background: #ffcccc;
}
.highlight {
  display: inline;
  box-shadow: inset 0 -15px 0 #ffcccc;
}
body,
html {
  font-size: 16px;
  word-break: keep-all;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: -0.3px;
  color: #4b4b4b;
  padding-bottom: 2rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }
}
body:before {
  position: fixed;
  z-index: 1;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 10px;
}
section {
  padding: 0 2rem;
}
p {
  margin: 0 0 1rem;
  font-size: 1.1rem;
  line-height: 1.4;
}
a {
  color: #fd7272;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffb8b8;
}
h1 {
  font-size: 5rem;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3rem;
  margin: 4rem 0 2rem;
}
h3,
h4 {
  font-size: 2rem;
  margin: 0 0 1rem;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  font-size: 1.1rem;
}
ul > li {
  position: relative;
  padding: 0.2rem 0 0.2rem 1rem;
}
ul > li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: '•';
}
.container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}
.big-paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .big-paragraph {
    font-size: 1.5rem;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
  border-bottom: 1px solid #eee;
}
.row-left {
  flex-basis: 18rem;
  padding-right: 1rem;
  flex-shrink: 0;
}
.row-right {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .row-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
.other {
  padding: 3rem 0;
  border-bottom: 1px solid #eee;
}
.role {
  display: block;
}
.project {
  padding: 1.5rem 0;
}
.project:first-child {
  padding-top: 0;
}
.time {
  display: block;
  margin-bottom: 1.5rem;
}
