@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* common css */
* {
  padding: 0;
  margin: 0;
  font-family: 'Spoqa Han Sans';
}

body {
  width: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  max-width: 1112px;
  margin-top: 19px;
  margin: 19px auto;
}

header img {
  cursor: pointer;
}

nav button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  background-color: #0e7159;
  color: #fff;
}

nav button:first-child {
  background-color: transparent;
  color: #333d4b;
}

/* banner */
#banner_container {
  background-image: url(./img/banner.png);
  background-size: cover;
  width: 100%;
  height: 768px;
  margin-bottom: 125px;
}

#banner_container div {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#banner_container h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}

#banner_container button {
  margin-top: 49px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

/* descript */
#descript_container {
  max-width: 985px;
  margin: 0 auto;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 192px;
}

h2 {
  color: #0e7159;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 53px;
}

article:nth-child(3) h2 {
  margin-top: 22px;
  margin-bottom: 71px;
}

span {
  font-weight: 500;
}

.desc_title {
  display: flex;
  justify-content: space-between;
  color: #333d4b;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 17px;
  margin-left: 2px;
  line-height: 25px;
}

.desc_content {
  color: #6b7684;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  line-height: 26px;
  margin-bottom: 25px;
}

.direct_btn,
.now_btn {
  color: #0e7159;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: none;
}

#descript_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#descript_container li {
  max-width: 293px;
}

#descript_container img {
  margin-bottom: 24px;
}

#desc_list {
  margin-bottom: 14px;
}

#desc_list li {
  margin-bottom: 57px;
}

#desc_list span {
  color: #0e7159;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 9px;
}

.list_title {
  color: #333d4b;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 16px;
}

.list_content {
  color: #6b7684;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.list_hide {
  width: 293px;
}

/* application */
#app_container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

#app_container li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 172px;
}

#app_container div {
  width: 490px;
}

#app_container span {
  color: #0e7159;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  color: #333d4b;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-top: 21px;
  margin-bottom: 34px;
}

#app_container p {
  color: #6b7684;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.message_container {
  margin-top: 24px;
}

.screen_img {
  display: none;
}

/* price */
#price_container {
  text-align: center;
}

#price_container ul {
  display: flex;
  max-width: 1084px;
  margin: 0 auto 36px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#price_container li {
  width: 292px;
  height: 341px;
  background-color: #f2f3f4;
  border-radius: 16px;
  padding: 30px 24px;
  text-align: left;
}

.price_title {
  color: #333d4b;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.price_content {
  color: #6b7684;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 28px;
  margin-bottom: 42px;
}

.price_number {
  color: #0e7159;
  font-weight: 700;
  font-size: 32px;
}

.price_times {
  color: #6b7684;
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 26px;
}

.price_btn {
  border: none;
  border-radius: 8px;
  height: 64px;
  width: 292px;
  background-color: #0e7159;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

/* review */
#review_container {
  margin-top: 181px;
  text-align: center;
}

#review_container ul {
  display: flex;
  margin-bottom: 49px;
  justify-content: center;
  overflow: hidden;
}

#review_container li {
  background-color: #f2f3f4;
  border-radius: 16px;
  min-width: 560px;
  height: 240px;
  padding: 60px;
  text-align: left;
}

#review_container li:nth-child(2) {
  margin: 0 32px;
}

.profile_wrapper {
  display: flex;
  align-items: center;
}

.profile_content {
  margin-left: 16px;
}

.profile_content span {
  color: #333d4b;
  font-weight: 700;
  font-size: 18px;
}

.profile_content p {
  color: #6b7684;
  font-weight: 500;
  font-size: 18px;
}

.review_content,
.review_hide {
  margin-top: 34px;
  color: #6b7684;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.review_hide {
  display: none;
}

/* aside */
aside {
  margin-top: 136px;
  height: 608px;
  background-color: #0e7159;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside h2 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 62px;
}

aside button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: 170px;
  height: 60px;
  color: #0e7159;
  font-weight: 700;
  font-size: 16px;
}

/* footer */
footer {
  height: 159px;
}

footer div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 15%;
}

footer p {
  width: 400px;
  color: #333d4b;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 18px;
}

footer ul {
  color: #6b7684;
  font-weight: 500;
  font-size: 14px;
}

footer li {
  margin-bottom: 10px;
}

footer li:last-child {
  margin-bottom: 0px;
}

/* 1024 */
@media (max-width: 1024px) {
  nav button:first-child {
    display: none;
  }

  #banner_container {
    height: 409px;
  }

  #banner_container h1 {
    font-size: 48px;
  }

  #banner_container button,
  .now_btn,
  .list_hide,
  .message_container,
  .phone_img {
    display: none;
  }

  .screen_img {
    display: block;
    margin: 25px auto 0;
  }

  #descript_container {
    max-width: 660px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 41px;
  }

  #descript_container li {
    margin-bottom: 48px;
  }

  article {
    margin-bottom: 123px;
  }

  article:nth-child(3) h2 {
    margin-top: 0px;
    margin-bottom: 43px;
  }

  #desc_list li:nth-last-child(2) {
    margin-bottom: 20px;
  }

  .desc_content {
    margin-bottom: 0px;
  }

  #app_container {
    max-width: 475px;
  }

  #app_container li {
    margin-bottom: 140px;
    text-align: center;
  }

  #price_container ul {
    max-width: 712px;
  }

  #price_container li:last-child {
    margin-top: 32px;
  }

  #review_container {
    margin-top: 150px;
  }

  .h2_bigger {
    font-size: 36px;
    margin-bottom: 39px;
  }

  aside {
    margin-top: 112px;
  }
}

/* 768 */
@media (max-width: 768px) {
  header {
    width: 90%;
  }

  #banner_container {
    height: 307px;
  }

  #banner_container h1 {
    font-size: 36px;
  }

  article {
    margin-bottom: 85px;
  }

  #app_container li {
    margin-bottom: 127px;
  }

  aside h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 42px;
  }

  footer div {
    margin-left: 44px;
  }
}

/* 480 */
@media (max-width: 480px) {
  header {
    width: 90%;
  }

  #banner_container {
    height: 192px;
  }

  #banner_container h1 {
    font-size: 24px;
  }

  #descript_container {
    max-width: 407px;
  }

  #descript_container li {
    margin-bottom: 32px;
  }

  h2 {
    font-size: 18px;
  }

  .h2_bigger {
    font-size: 20px;
  }

  #descript_container ul {
    justify-content: center;
  }

  #desc_list li:nth-last-child(2) {
    margin-bottom: 17px;
  }

  .desc_hide {
    display: none;
  }

  article {
    margin-bottom: 52px;
  }

  #app_container {
    max-width: 360px;
  }

  h3 {
    font-size: 36px;
    line-height: 43px;
  }

  #app_container p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 33px;
  }

  #app_container li {
    margin-bottom: 157px;
  }

  #price_container ul {
    max-width: 340px;
    margin-bottom: 0px;
  }

  #price_container li {
    margin-bottom: 32px;
  }

  #price_container li:last-child {
    margin-top: 0px;
  }

  #review_container li {
    min-width: 330px;
    min-height: 296px;
    padding: 32px;
  }

  .profile_wrapper {
    justify-content: center;
  }

  .review_content:nth-child(2) {
    display: none;
  }

  .review_hide {
    margin-top: 25px;
    display: block;
  }

  aside h2 {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 60px;
  }
}
